@import 'variables';

:root {
  --me-blue-50: #e9f4fa;
  --me-blue-900: #121f24;
  --neutral-20: #ededed;
  --neutral-900: #0b0b0b;
  --tint-gray-25: rgba(26, 26, 26, 0.03);
  --primary-primary: var(--me-blue-800);
  --theme-colors-ui-2: var(--tint-gray-700);
  --me-blue-700: #0f6488;
  --neutral-200: #6e6e6e;
  --neutral-400: #4e4e4e;
  --accent: #068ac2;
  --surface-primary-surface-0: #fff;


  --primary-border-color: var(--tint-gray-25);
  --primary-text-color: var(--me-blue-900);
  --text-color-hover: var(--me-blue-900);
  --text-placeholder-color: var(--neutral-200);
  --link-text-colors: var(--me-blue-700);
  --link-text-color-hover: var(--accent);
  --button-primary-text-color: var(--neutral-20);
  --button-primary-background: var(--me-blue-900);
  --button-primary-background-hover: var(--neutral-900);
  --border-hover: var(--neutral-200);
  --background-color-border-focus: var(--surface-primary-surface-0);

  --canvas: #f6f6f6;

  --surface-primary-surface-1: #153f52;
  --surface-primary-surface-2: #153f52;
  --surface-primary-surface-3: #153f52;
  --surface-primary-surface-4: #153f52;
  --surface-primary-surface-5: #153f52;
  --surface-accent-surface-0: #fff;
  --surface-accent-surface-1: #068ac2;
  --surface-accent-surface-2: #068ac2;
  --surface-accent-surface-3: #068ac2;
  --surface-accent-surface-4: #068ac2;
  --surface-accent-surface-5: #068ac2;
  --surface-secondary-surface-0: #fff;
  --surface-secondary-surface-1: #0f8884;
  --surface-secondary-surface-2: #0f8884;
  --surface-secondary-surface-3: #0f8884;
  --surface-secondary-surface-4: #0f8884;
  --surface-secondary-surface-5: #0f8884;
  --surface-danger-surface-0: #fff;
  --surface-danger-surface-1: #e94c3f;
  --surface-danger-surface-2: #e94c3f;
  --surface-danger-surface-3: #e94c3f;
  --surface-danger-surface-4: #e94c3f;
  --surface-danger-surface-5: #e94c3f;
  --component-specific-button-primary: var(--primary-on-primary);
  --theme-colors-ui-background: var(--neutral-900);
  --theme-colors-ui-1: var(--tint-gray-900);
  --theme-colors-ui-3: var(--neutral-900);
  --theme-colors-ui-4: var(--tint-gray-600);
  --theme-colors-ui-inverse: var(--neutral-0);
  --theme-colors-border-2: var(--neutral-400);
  --theme-colors-border-3: var(--neutral-300);
  --theme-colors-text-1: var(--primary-on-primary);
  --theme-colors-text-2: var(--neutral-60);
  --theme-colors-text-placeholder: var(--neutral-100);
  --theme-colors-text-on-accent: var(--accent-on-accent);
  --theme-colors-text-hint: var(--neutral-200);
  --theme-colors-text-disabled: var(--neutral-100);
  --theme-colors-text-error: var(--red-400);
  --theme-colors-text-inverse: var(--neutral-900);
  --theme-colors-link: var(--component-specific-button-accent);
  --theme-colors-icon-1: var(--primary-on-primary);
  --theme-colors-icon-2: var(--neutral-60);
  --theme-colors-icon-on-accent: var(--accent-on-accent);
  --theme-colors-icon-inverse: var(--neutral-900);
  --interactive-colors-active-primary: var(--primary-primary-contrast);
  --interactive-colors-active-secondary: var(--secondary-secondary-contrast);
  --interactive-colors-active-tertiary: var(--tertiary-tertiary-contrast);
  --interactive-colors-focus-primary: var(--accent-on-accent-surface);
  --interactive-colors-disabled-1: var(--neutral-600);
  --interactive-colors-disabled-2: var(--neutral-300);
  --interactive-colors-disabled-3: var(--neutral-200);
  --system-colors-info-1: var(--blue-400);
  --system-colors-info-2: var(--blue-300);
  --system-colors-success-1: var(--green-600);
  --system-colors-success-2: var(--green-500);
  --system-colors-warning-1: var(--orange-300);
  --system-colors-warning-2: var(--gold-300);
  --system-colors-danger-1: var(--red-400);
  --system-colors-danger-2: var(--red-300);
  --theme-colors-icon-disabled: var(--neutral-200);
  --theme-colors-ui-contrast: var(--neutral-800);
  --theme-colors-ui-6: var(--tint-gray-300);
  --interactive-colors-focus-secondary: var(--tint-white-25);
  --interactive-colors-focus-danger: var(--red-800);
  --theme-colors-icon-3: var(--accent-accent);
  --theme-colors-overlay: var(--tint-gray-400);
  --theme-colors-border-4: var(--neutral-10);
  --system-colors-info-3: var(--blue-800);
  --system-colors-success-3: var(--green-light-800);
  --system-colors-warning-3: var(--orange-700);
  --system-colors-danger-3: var(--red-800);
  --canvas: #2c2c2c;
  --theme-colors-border-1: var(--tint-gray-25);
  --interactive-colors-active-border: var(--accent-accent);
  --system-colors-danger-hover: var(--red-600);
  --blue-source: #2e90fa;
  --blue-900: #131b23;
  --blue-800: #163250;
  --blue-700: #124985;
  --blue-600: #0a60bd;
  --blue-500: #0677f2;
  --blue-400: #3190f7;
  --blue-300: #69a9ef;
  --blue-200: #9fc3e9;
  --blue-100: #cfdcea;
  --blue-50: #edf2ff;
  --indigo-source: #0000f7;
  --indigo-900: #121224;
  --indigo-800: #151552;
  --indigo-700: #0f0f88;
  --indigo-600: #0606c2;
  --indigo-500: #0000f8;
  --indigo-400: #2c2cfc;
  --indigo-300: #6565f3;
  --indigo-200: #9e9eeb;
  --indigo-100: #ceceeb;
  --indigo-50: #faecff;
  --purple-source: #6b37d8;
  --purple-900: #191521;
  --purple-800: #2c1f48;
  --purple-700: #3d2374;
  --purple-600: #4d24a3;
  --purple-500: #5e29cf;
  --purple-400: #7b4eda;
  --purple-300: #9b7ddc;
  --purple-200: #bbaade;
  --purple-100: #d9d3e6;
  --purple-50: #f9eeff;
  --fuchsia-source: #e055e2;
  --fuchsia-900: #211521;
  --fuchsia-800: #481e49;
  --fuchsia-700: #752176;
  --fuchsia-600: #a421a6;
  --fuchsia-500: #d124d4;
  --fuchsia-400: #db4add;
  --fuchsia-300: #dd7ade;
  --fuchsia-200: #dfa9e0;
  --fuchsia-100: #e6d3e7;
  --fuchsia-50: #ffecff;
  --pink-source: #ff2e98;
  --pink-900: #24121b;
  --pink-800: #521534;
  --pink-700: #880f4c;
  --pink-600: #c20665;
  --pink-500: #f8007e;
  --pink-400: #fc2c95;
  --pink-300: #f365ad;
  --pink-200: #eb9ec5;
  --pink-100: #ebcedd;
  --pink-50: #ffebf4;
  --magenta-source: #f63d68;
  --magenta-900: #231317;
  --magenta-800: #4f1824;
  --magenta-700: #83142e;
  --magenta-600: #b90e36;
  --magenta-500: #ed0b40;
  --magenta-400: #f23561;
  --magenta-300: #ed6c8a;
  --magenta-200: #e8a1b1;
  --magenta-100: #e9d0d6;
  --magenta-50: #ffebed;
  --red-source: #ea3829;
  --red-900: #221514;
  --red-800: #4c1e1a;
  --red-700: #7d221a;
  --red-600: #b12317;
  --red-500: #e22616;
  --red-400: #e94c3f;
  --red-300: #e67b72;
  --red-200: #e4a9a4;
  --red-100: #e8d3d1;
  --red-50: #ffece5;
  --orange-source: #f27316;
  --orange-900: #231a13;
  --orange-800: #4e2f18;
  --orange-700: #824315;
  --orange-600: #b85710;
  --orange-500: #eb6b0d;
  --orange-400: #f18637;
  --orange-300: #eba26d;
  --orange-200: #e7bfa2;
  --orange-100: #e9dbd0;
  --orange-50: #ffede0;
  --gold-source: #fc3;
  --gold-900: #241f12;
  --gold-800: #524215;
  --gold-700: #886a0f;
  --gold-600: #c29306;
  --gold-500: #f8ba00;
  --gold-400: #fcc82c;
  --gold-300: #f3cf65;
  --gold-200: #ebd89e;
  --gold-100: #ebe4ce;
  --gold-50: #fcf1dd;
  --yellow-source: #ffe600;
  --yellow-900: #242212;
  --yellow-800: #524c15;
  --yellow-700: #887c0f;
  --yellow-600: #c2af06;
  --yellow-500: #f8df00;
  --yellow-400: #fce72c;
  --yellow-300: #f3e565;
  --yellow-200: #ebe49e;
  --yellow-100: #ebe8ce;
  --yellow-50: #faf2da;
  --fluo-source: #ebff00;
  --fluo-900: #222412;
  --fluo-800: #4d5215;
  --fluo-700: #7e880f;
  --fluo-600: #b3c206;
  --fluo-500: #e4f800;
  --fluo-400: #ebfc2c;
  --fluo-300: #e8f365;
  --fluo-200: #e5eb9e;
  --fluo-100: #e9ebce;
  --fluo-50: #f5f4d9;
  --green-light-source: #23be3a;
  --green-light-900: #152117;
  --green-light-800: #1e4825;
  --green-light-700: #22752e;
  --green-light-600: #23a436;
  --green-light-500: #27d140;
  --green-light-400: #4cdb62;
  --green-light-300: #7bdd8a;
  --green-light-200: #aadfb2;
  --green-light-100: #d3e6d6;
  --green-light-50: #e6f7e3;
  --green-source: #16b364;
  --green-900: #14221b;
  --green-800: #1c4b33;
  --green-700: #1c7b4b;
  --green-600: #1aad63;
  --green-500: #1bdd7b;
  --green-400: #43e593;
  --green-300: #75e3ac;
  --green-200: #a6e3c4;
  --green-100: #d2e8dd;
  --green-50: #e6f6ea;
  --mint-source: #2fb88f;
  --mint-900: #16201d;
  --mint-800: #21453a;
  --mint-700: #286f5a;
  --mint-600: #2c9b7a;
  --mint-500: #33c599;
  --mint-400: #56d1ad;
  --mint-300: #82d6bd;
  --mint-200: #addbce;
  --mint-100: #d4e5e0;
  --mint-50: #e6f6ef;
  --teal-source: #00a59f;
  --teal-900: #122423;
  --teal-800: #15524f;
  --teal-700: #0f8884;
  --teal-600: #06c2bb;
  --teal-500: #00f8ef;
  --teal-400: #2cfcf4;
  --teal-300: #65f3ee;
  --teal-200: #9eebe8;
  --teal-100: #ceebea;
  --teal-50: #e6f5f4;
  --cyan-source: #21c9ea;
  --cyan-900: #142022;
  --cyan-800: #1a444c;
  --cyan-700: #196d7e;
  --cyan-600: #1698b1;
  --cyan-500: #16c1e2;
  --cyan-400: #3eceea;
  --cyan-300: #72d3e7;
  --cyan-200: #a4dae4;
  --cyan-100: #d1e4e8;
  --cyan-50: #e6f5f9;
  --neutral-source: #000;

  --neutral-800: #171717;
  --neutral-700: #222;
  --neutral-600: #303030;
  --neutral-500: #3e3e3e;

  --neutral-300: #5e5e5e;

  --neutral-100: #7f7f7f;
  --neutral-90: #909090;
  --neutral-80: #a2a2a2;
  --neutral-70: #b3b3b3;
  --neutral-60: #c2c2c2;
  --neutral-50: #cecece;
  --neutral-40: #ddd;
  --neutral-30: #e5e5e5;

  --neutral-10: #f5f5f5;
  --neutral-0: #fff;

  --secondary-secondary: var(--teal-700);
  --tertiary-tertiary: var(--indigo-300);
  --primary-on-primary: var(--me-blue-100);
  --secondary-on-secondary: var(--teal-50);
  --tertiary-on-tertiary-text: var(--indigo-50);
  --primary-on-primary-surface: var(--me-blue-900);
  --secondary-on-secondary-surface: var(--teal-900);
  --tertiary-on-tertiary-surface: var(--indigo-900);
  --secondary-secondary-contrast: var(--teal-800);
  --primary-primary-contrast: var(--me-blue-700);
  --tertiary-tertiary-contrast: var(--indigo-400);
  --tint-gray-500: rgba(26, 26, 26, 0.5);
  --tint-gray-600: rgba(26, 26, 26, 0.6);

  --tint-gray-50: rgba(26, 26, 26, 0.05);
  --tint-gray-100: rgba(26, 26, 26, 0.1);
  --tint-gray-200: rgba(26, 26, 26, 0.2);
  --tint-gray-400: rgba(26, 26, 26, 0.4);
  --tint-gray-300: rgba(26, 26, 26, 0.3);
  --tint-gray-900: rgba(26, 26, 26, 0.9);
  --tint-gray-800: rgba(26, 26, 26, 0.8);
  --tint-gray-700: rgba(26, 26, 26, 0.7);
  --tint-white-900: rgba(255, 255, 255, 0.97);
  --tint-white-800: rgba(255, 255, 255, 0.92);
  --tint-white-700: rgba(255, 255, 255, 0.88);
  --tint-white-600: rgba(255, 255, 255, 0.82);
  --tint-white-500: rgba(255, 255, 255, 0.72);
  --tint-white-400: rgba(255, 255, 255, 0.66);
  --tint-white-300: rgba(255, 255, 255, 0.54);
  --tint-white-200: rgba(255, 255, 255, 0.4);
  --tint-white-100: rgba(255, 255, 255, 0.2);
  --tint-white-50: rgba(255, 255, 255, 0.1);
  --tint-white-25: rgba(255, 255, 255, 0.05);
  --theme-colors-ui-5: var(--tint-gray-500);
  --accent-accent: var(--me-blue-600);
  --me-blue-source: #6fd4ff;

  --me-blue-800: #153f52;

  --me-blue-600: #068ac2;
  --me-blue-500: #00aef8;
  --me-blue-400: #2cbefc;
  --me-blue-300: #65c9f3;
  --me-blue-200: #9ed4eb;
  --me-blue-100: #cee2eb;

  --component-specific-button-accent: var(--accent-accent);
  --accent-accent-contrast: var(--me-blue-700);
  --accent-on-accent: var(--me-blue-50);
  --accent-on-accent-surface: var(--me-blue-900);
  --interactive-colors-hover-accent: var(--accent-accent-contrast);
  --component-specific-button-accent-hover: var(
    --interactive-colors-hover-accent
  );
  --theme-colors-icon-contrast: var(--neutral-0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
}

input[type='password'] {
  -webkit-text-security: disc;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family), sans-serif;
}

div,
span,
p {
  font-family: var(--font-family), sans-serif;
}
