:root {
  --font-family: "Roboto Flex", sans-serif;
  --second-family: "DM Sans", sans-serif;
  --third-family: "Inter", sans-serif;

  --me-blue-50: #E9F4FA;
  --me-blue-900: #121F24;
  --neutral-20: #EDEDED;
  --neutral-900: #0B0B0B;
  --tint-gray-25: rgba(26, 26, 26, 0.03);
  --primary-primary: var(--me-blue-800);
  --theme-colors-ui-2: var(--tint-gray-700);
  --me-blue-700: #0F6488;
  --neutral-200: #6E6E6E;
  --neutral-400: #4E4E4E;
  --accent: #068AC2;
  --surface-primary-surface-0: #FFF;
  --surface-primary-surface-1: #F8F9FA;
  --surface-primary-surface-2: #E1F2F8;
  --avatar-color-1: #D3EAF4;

  --primary-border-color: var(--tint-gray-25);
  --primary-text-color: var(--me-blue-900);
  --text-color-hover: var(--neutral-900);
  --text-placeholder-color: var(--neutral-200);
  --link-text-colors: var(--me-blue-700);
  --link-text-color-hover: var(--accent);
  --button-primary-text-color: var(--neutral-20);
  --button-primary-background: var(--me-blue-900);
  --button-primary-background-hover: var(--neutral-900);
  --border-hover: var(--neutral-200);
  --background-color-border-focus: var(--surface-primary-surface-0);
  --theme-colors-border-2: var(--neutral-400);
  --theme-colors-border-3: var(--neutral-300);

  --canvas: #f6f6f6;

  //--surface-primary-surface-1: #153f52;
  //--surface-primary-surface-2: #153f52;
  --surface-primary-surface-3: #153f52;
  --surface-primary-surface-4: #153f52;
  --surface-primary-surface-5: #153f52;
  --surface-accent-surface-0: #fff;
  --surface-accent-surface-1: #068ac2;
  --surface-accent-surface-2: #068ac2;
  --surface-accent-surface-3: #068ac2;
  --surface-accent-surface-4: #068ac2;
  --surface-accent-surface-5: #068ac2;
  --surface-secondary-surface-0: #fff;
  --surface-secondary-surface-1: #0f8884;
  --surface-secondary-surface-2: #0f8884;
  --surface-secondary-surface-3: #0f8884;
  --surface-secondary-surface-4: #0f8884;
  --surface-secondary-surface-5: #0f8884;
  --surface-danger-surface-0: #fff;
  --surface-danger-surface-1: #e94c3f;
  --surface-danger-surface-2: #e94c3f;
  --surface-danger-surface-3: #e94c3f;
  --surface-danger-surface-4: #e94c3f;
  --surface-danger-surface-5: #e94c3f;
  --component-specific-button-primary: var(--primary-on-primary);
  --theme-colors-ui-background: var(--neutral-900);
  --theme-colors-ui-1: var(--tint-gray-900);
  --theme-colors-ui-3: var(--neutral-900);
  --theme-colors-ui-4: var(--tint-gray-600);
  --theme-colors-ui-inverse: var(--neutral-0);
  --theme-colors-border-3: var(--neutral-300);
  --theme-colors-text-1: var(--primary-on-primary);
  --theme-colors-text-2: var(--neutral-60);
  --theme-colors-text-placeholder: var(--neutral-100);
  --theme-colors-text-on-accent: var(--accent-on-accent);
  --theme-colors-text-hint: var(--neutral-200);
  --theme-colors-text-disabled: var(--neutral-100);
  --theme-colors-text-error: var(--red-400);
  --theme-colors-text-inverse: var(--neutral-900);
  --theme-colors-link: var(--component-specific-button-accent);
  --theme-colors-icon-1: var(--primary-on-primary);
  --theme-colors-icon-2: var(--neutral-60);
  --theme-colors-icon-on-accent: var(--accent-on-accent);
  --theme-colors-icon-inverse: var(--neutral-900);
  --interactive-colors-active-primary: var(--primary-primary-contrast);
  --interactive-colors-active-secondary: var(--secondary-secondary-contrast);
  --interactive-colors-active-tertiary: var(--tertiary-tertiary-contrast);
  --interactive-colors-focus-primary: var(--accent-on-accent-surface);
  --interactive-colors-disabled-1: var(--neutral-600);
  --interactive-colors-disabled-2: var(--neutral-300);
  --interactive-colors-disabled-3: var(--neutral-200);
  --system-colors-info-1: var(--blue-400);
  --system-colors-info-2: var(--blue-300);
  --system-colors-success-1: var(--green-600);
  --system-colors-success-2: var(--green-500);
  --system-colors-warning-1: var(--orange-300);
  --system-colors-warning-2: var(--gold-300);
  --system-colors-danger-1: var(--red-400);
  --system-colors-danger-2: var(--red-300);
  --theme-colors-icon-disabled: var(--neutral-200);
  --theme-colors-ui-contrast: var(--neutral-800);
  --theme-colors-ui-6: var(--tint-gray-300);
  --interactive-colors-focus-secondary: var(--tint-white-25);
  --interactive-colors-focus-danger: var(--red-800);
  --theme-colors-icon-3: var(--accent-accent);
  --theme-colors-overlay: var(--tint-gray-400);
  --theme-colors-border-4: var(--neutral-10);
  --system-colors-info-3: var(--blue-800);
  --system-colors-success-3: var(--green-light-800);
  --system-colors-warning-3: var(--orange-700);
  --system-colors-danger-3: var(--red-800);
  --canvas: #2c2c2c;
  --theme-colors-border-1: var(--tint-gray-25);
  --interactive-colors-active-border: var(--accent-accent);
  --system-colors-danger-hover: var(--red-600);
  --blue-source: #2e90fa;
  --neutral-source: #000;

  --neutral-800: #171717;
  --neutral-700: #222;
  --neutral-600: #303030;
  --neutral-500: #3e3e3e;

  --neutral-300: #5e5e5e;

  --neutral-100: #7f7f7f;
  --neutral-90: #909090;
  --neutral-80: #a2a2a2;
  --neutral-70: #b3b3b3;
  --neutral-60: #c2c2c2;
  --neutral-50: #cecece;
  --neutral-40: #ddd;
  --neutral-30: #e5e5e5;

  --neutral-10: #f5f5f5;
  --neutral-0: #fff;

  --secondary-secondary: var(--teal-700);
  --tertiary-tertiary: var(--indigo-300);
  --primary-on-primary: var(--me-blue-100);
  --secondary-on-secondary: var(--teal-50);
  --tertiary-on-tertiary-text: var(--indigo-50);
  --primary-on-primary-surface: var(--me-blue-900);
  --secondary-on-secondary-surface: var(--teal-900);
  --tertiary-on-tertiary-surface: var(--indigo-900);
  --secondary-secondary-contrast: var(--teal-800);
  --primary-primary-contrast: var(--me-blue-700);
  --tertiary-tertiary-contrast: var(--indigo-400);
  --tint-gray-500: rgba(26, 26, 26, 0.5);
  --tint-gray-600: rgba(26, 26, 26, 0.6);

  --tint-gray-50: rgba(26, 26, 26, 0.05);
  --tint-gray-100: rgba(26, 26, 26, 0.1);
  --tint-gray-200: rgba(26, 26, 26, 0.2);
  --tint-gray-400: rgba(26, 26, 26, 0.4);
  --tint-gray-300: rgba(26, 26, 26, 0.3);
  --tint-gray-900: rgba(26, 26, 26, 0.9);
  --tint-gray-800: rgba(26, 26, 26, 0.8);
  --tint-gray-700: rgba(26, 26, 26, 0.7);
  --tint-white-900: rgba(255, 255, 255, 0.97);
  --tint-white-800: rgba(255, 255, 255, 0.92);
  --tint-white-700: rgba(255, 255, 255, 0.88);
  --tint-white-600: rgba(255, 255, 255, 0.82);
  --tint-white-500: rgba(255, 255, 255, 0.72);
  --tint-white-400: rgba(255, 255, 255, 0.66);
  --tint-white-300: rgba(255, 255, 255, 0.54);
  --tint-white-200: rgba(255, 255, 255, 0.4);
  --tint-white-100: rgba(255, 255, 255, 0.2);
  --tint-white-50: rgba(255, 255, 255, 0.1);
  --tint-white-25: rgba(255, 255, 255, 0.05);
  --theme-colors-ui-5: var(--tint-gray-500);
  --accent-accent: var(--me-blue-600);
  --me-blue-source: #6fd4ff;

  --me-blue-800: #153f52;

  --me-blue-600: #068ac2;
  --me-blue-500: #00aef8;
  --me-blue-400: #2cbefc;
  --me-blue-300: #65c9f3;
  --me-blue-200: #9ed4eb;
  --me-blue-100: #cee2eb;

  --component-specific-button-accent: var(--accent-accent);
  --accent-accent-contrast: var(--me-blue-700);
  --accent-on-accent: var(--me-blue-50);
  --accent-on-accent-surface: var(--me-blue-900);
  --interactive-colors-hover-accent: var(--accent-accent-contrast);
  --component-specific-button-accent-hover: var(
    --interactive-colors-hover-accent
  );
  --theme-colors-icon-contrast: var(--neutral-0);
}
