<aside class="sidebar">
  <div class="sidebar__top-side">
    {{>BurgerButton}}
    {{>IconButton src="Chat-bot" alt="IconChats" isActive="true"}}
  </div>

  <div class="sidebar__bottom-side">
    {{>IconButton src="Settings" alt="IconSettings"}}
    {{>ProfileButton nameWords="S"}}
  </div>
</aside>