<button class='bugrer-button'>
  <span class="bugrer-button__top">toggle menu</span>
  <span class="bugrer-button__middle">toggle menu</span>
  <span class="bugrer-button__bottom">toggle menu</span>
</button>