<ul class='conversation-list'>
  <li class='conversation-list__conversation conversation'>
    <img
      src='src/shared/ui/avatars/Ethan.jpg'
      alt="Ethan's avatar"
      class='conversation__avatar'
    />
    <div class='conversation__info'>
      <h2 class='conversation__name'>Ethan Smith</h2>
      <div class='conversation__last-message'>
        <h3 class='conversation__message-owner'>Paul</h3>&nbsp;-&nbsp;
        <p class='conversation__message'>Come around at my house, I’m making
          food for two</p>
      </div>
    </div>
  </li>

  <li
    class='conversation-list__conversation conversation conversation_type_active'
  >
    <img
      src='src/shared/ui/avatars/Ava.jpg'
      alt="Ava's avatar"
      class='conversation__avatar'
    />
    <div class='conversation__info'>
      <h2 class='conversation__name'>Ava Williams</h2>
      <p class='conversation__last-message'>Ok, let ‘s meet up this afternoon
        and do it together. Are you free?</p>
    </div>
  </li>
</ul>