.empty-state {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 24px;

  &__title {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: var(--primary-text-color);
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--theme-colors-border-2);
  }
}
